@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f2eee3;
  color: #14150f;
}

.tabular {
  font-variant-numeric: tabular-nums;
}
